header {
    width: 100%;
    height: auto;
    background-color:#260F01
  

}
.header__titulo {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: aliceblue;
    margin-bottom: 2em;
    
}
.header__datos {
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px ;
}
.datos__total {
    cursor: pointer;
    color: white;
    background-color: black;
    letter-spacing: 2px;
    padding: 2px;
    
   
}
.datos__completadas {
    cursor: pointer;
    color: white;
    background-color: black;
    letter-spacing: 2px;
}
h5 {
    text-align: center;
    font-size: 18px;
    padding: 30px;
}
.completa {
    text-decoration: line-through;
    color: rgb(30, 139, 255);}